# MySQL

### Import (iff installed)

In [ ]:
# !pip install pymysql

In [ ]:
import pymysql
import pandas as pd

### Credentials files

In [ ]:
!find .. | grep mysql

In [ ]:
!find .. | grep _credentials

### Create protected credentials file (run once)

In [ ]:
# USER = "root"
# NAME = "schooldb"
# HOST = "localhost"
# PWD = "your_password_here"
# CRED_KEY = '{}\n{}\n{}\n{}'.format(USER, NAME, HOST, PWD)

In [ ]:
# Create credentials file:
!touch ../_credentials/mysql_credentials.txt
!echo "$CRED_KEY" > ../_credentials/mysql_credentials.txt
!chmod 400 ../_credentials/mysql_credentials.txt

In [ ]:
# !cat ../_credentials/mysql_credentials.txt

In [ ]:
with open('../_credentials/mysql_credentials.txt') as f:
    contents = f.read().split('\n')
    USER = contents[0]
    NAME = contents[1]
    HOST = contents[2]
    PWD = contents[3]

<h2>Set up a connection and create a cursor object</h2>

In [ ]:
db = pymysql.connect(HOST, USER, PWD, database=NAME)
cursor = db.cursor()

### Fetchall

In [ ]:
cursor.execute('show tables;')

In [ ]:
cursor.fetchall()

### SELECT

In [ ]:
query = """
SELECT course.name FROM student 
INNER JOIN enrolls_in ON student.ssn = enrolls_in.ssn 
INNER JOIN course ON course.number = enrolls_in.class
WHERE f_name = "JOHN";
"""
cursor.execute(query)
cursor.fetchall()

### INSERT

In [ ]:
query = '''
INSERT IGNORE INTO Student 
VALUES ("555-11-8890", "Frank", "Ebbers", "9898989899", "San Francisco", "94110");
'''
cursor.execute(query)

In [ ]:
db.commit() # commit changes to database / 'save globally'

In [ ]:
cursor.execute('select * from student;')
cursor.fetchall() # print data

In [ ]:
cursor.execute('describe student;')
cursor.fetchall()

In [ ]:
# Google Finance
# !pip3 install mysqlclient

In [ ]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
# scrape Google Finance

In [ ]:
df = pd.read_csv('portfolio.txt', sep=':')
df.head()

In [ ]:
# Pandas to mySQL
# DB = "Googl_db"
DB = "schooldb"
credx = "mysql+pymysql://{user}:{pw}@{host}/{db}?charset=utf8".format(user=User, host=Host, pw=Password, db=DB)
engine = create_engine(credx, echo=False) # 'Engine' object has no attribute 'cursor'
# credx = 'mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format(User, Password, Host, DB)
# credx = "mysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}".format(USER=User, PASSWORD=Password, HOST=Host, DATABASE=DB)

In [ ]:
db = pymysql.connect(host=Host, user=User, passwd=Password, db=DB)
cursor = db.cursor()
cursor.execute("show tables;")
cursor.fetchall()

In [ ]:
conn_engine = engine.connect() # DBAPI
conn_enginedb = engine.connect()
conn_pymysql = pymysql.connect(Host, User, Password)
conn_mydb = pymysql.connect(Host, User, Password, DB)

In [ ]:
# Pandas to mySQL
# DataFrame.to_sql(name, con, flavor=None, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None)

# df.to_sql(con=conn_engine, name='new_table', if_exists='replace', index=False)
# df.to_sql(con=conn_engine, name='new_table', if_exists='replace', index=False, flavor='mysql')
# df.to_sql(con=conn_enginedb, name='new_table', if_exists='replace', index=False)
# df.to_sql(con=conn_enginedb, name='new_table', if_exists='replace', index=False, flavor='mysql')
# df.to_sql(con=conn_pymysql, name='new_table', if_exists='append', index=False)
# df.to_sql(con=conn_mydb, name='new_table', if_exists='append', index=False)

data = pd.read_sql('SELECT * FROM student;', conn_mydb)
data
# data.to_sql(name='student2', con=conn_mydb)

In [ ]:
# conn = pymysql.connect(Host, User, Password)
# try:
#     conn.cursor.execute("CREATE DATABASE IF NOT EXISTS {0} ".format(Name))
# except:
#     print('db already exists')
# db = pymysql.connect(host=Host, user=User, passwd=Password, db=Name)

In [ ]:
# engine = create_engine("mysql://root:matt123@localhost/ada")
engine = create_engine("mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}?charset=utf8".format(USER=User, PASSWORD=Password, HOST=Host, DATABASE=DB))
con = engine.connect()
# df = pd.DataFrame(['A','B'],columns=['new_tablecol'])
# df.to_sql(name='new_table', con=con, if_exists='append')
con.close()

In [ ]:
DB = 'Googl_db'
conx = pymysql.connect(host=Host, user=User, password=Password, db=DB,
                       charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)
cursor3 = conx.cursor()

file = "portfolio.txt"
with open(file,'r') as f:
    line_count = 0
    stocks_set = set()
    for line in f:
        line = line.strip()

        if line_count == 0:
            headers = line.split(':')
            headers = [x.replace(' ','_') for x in headers]
            cursor3.execute("DROP TABLE IF EXISTS stocks;")
            cursor3.execute("DROP TABLE IF EXISTS holdings;")
            
            query1 = """CREATE TABLE IF NOT EXISTS stocks ({} VARCHAR(10), {} VARCHAR(30));
            """.format(headers[0], headers[1])
            query2 = """CREATE TABLE IF NOT EXISTS holdings ({} VARCHAR(10), {} DECIMAL(10,2), {} INT, {} DATE);
            """.format(headers[0], headers[2], headers[3], headers[4])
            print(query2)
            cursor3.execute(query1)
            cursor3.execute(query2)
            
            line_count += 1
            continue        
        data = line.split(':')
        stock_info = (data[0], data[1])
        stocks_set.add(stock_info)
        
        holdings_query = """INSERT INTO holdings VALUES ("{}", "{}", "{}", "{}");""".format(data[0], data[2], data[3], data[4])
        cursor3.execute(holdings_query)
        
for s_info in stocks_set:
    stock_query = """INSERT INTO stocks VALUES ("{}", "{}");""".format(s_info[0], s_info[1])
    cursor3.execute(stock_query)
    
# db.commit()
# db.close()

In [ ]:
DB = 'Googl_db'
conx = pymysql.connect(host=Host, user=User, password=Password, db=DB,
                       charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)
cursor = conx.cursor()

file = "portfolio.txt"
with open(file,'r') as f:
    line_count = 0
    stocks_set = set()
    for line in f:
        line = line.strip()

        if line_count == 0:
            headers = line.split(':')
            headers = [x.replace(' ','_') for x in headers]
            query1 = "DROP TABLE IF EXISTS stocks;"
            query2 = "DROP TABLE IF EXISTS holdings"
            cursor.execute(query1)
            cursor.execute(query2)
            query1 = "CREATE TABLE IF NOT EXISTS stocks ("
            query1 += headers[0] + " VARCHAR(10),"
            query1 += headers[1] + " VARCHAR(30));"
            query2 = "CREATE TABLE IF NOT EXISTS holdings ("
            query2 += headers[0] + " VARCHAR(10),"
            query2 += headers[2] + " DECIMAL(10,2),"
            query2 += headers[3] + " INT,"
            query2 += headers[4] + " DATE);"
            print(query1)
            cursor.execute(query1)
            cursor.execute(query2)
            line_count += 1
            continue        
        data = line.split(':')
        stock_info = (data[0],data[1])
        stocks_set.add(stock_info)
        holdings_query = 'INSERT INTO holdings VALUES ("'
        holdings_query +=data[0] + '",'
        holdings_query +=data[2] + ','
        holdings_query +=data[3] + ',"'
        holdings_query +=data[4] + '");'
        cursor.execute(holdings_query)
for s_info in stocks_set:
    stock_query = 'INSERT INTO stocks VALUES ("'
    stock_query += s_info[0] + '","'
    stock_query += s_info[1] +'");'
    cursor.execute(stock_query)
# db.commit() # unbuffered error
# db.close()

In [ ]:
cursor.execute('select * from holdings')
cursor.fetchall()

In [ ]:
# The following examples make use of a simple table

# CREATE TABLE `users` (
#     `id` int(11) NOT NULL AUTO_INCREMENT,
#     `email` varchar(255) COLLATE utf8_bin NOT NULL,
#     `password` varchar(255) COLLATE utf8_bin NOT NULL,
#     PRIMARY KEY (`id`)
# ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
# AUTO_INCREMENT=1 ;
# import pymysql.cursors

# Connect to the database
conx = pymysql.connect(host=Host, user=User, password=Password, db=DB,
                       charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)

try:
    with conx.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    conx.commit()

    with conx.cursor() as cursor:
        # Read a single record
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)
finally:
    conx.close()

In [ ]:
# !pip3 install mysql
# import mysql.connector
# import sqlalchemy

# database_username = 'root'
# database_password = 'mysql'
# database_ip       = '127.0.0.1'
# database_name     = 'patenting_in_psi'
# database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
#                                                format(database_username, database_password, 
#                                                       database_ip, database_name), pool_recycle=1, pool_timeout=57600).connect()

# df22.to_sql(con=database_connection, name='university_dataset_ca', if_exists='append',chunksize=100)
# database_connection.close()